.listItem {
  background-color:#ffc6c7 !important;
  border-color: #33272a !important;
  color:#33272a !important;
}

.listItem:hover {
  background-color:#ff8ba7 !important;
  border-color:#33272a !important;
}

.listItem:active {
  background-color:#ff8ba7 !important;
  border-color:#33272a !important;
}
