@use "sass:map" as map;
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Tailwind-like breakpoint definitions */
  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1280px;
  --screen-2xl: 1536px;

  /* Theme colors */
  --text-color: #0A0A0A;
  /* typography */

}

$screens: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  '2xl': 1536px,
);

/* Color palette map for Sass consumption - TBD */
$palette: (
  // black: var(--text-color),
  // white: var(--floral-white),
  // primary: var(--dust-grey),
  // almond: var(--almond-cream),
);

@function palette($key) {
  $val: map.get($palette, $key);

  @if $val {
    @return $val;
  }

  @else {
    @error "Unknown palette key `#{$key}`. Available: #{map.keys($palette)}";
  }
}

@mixin up($size) {
  $val: map.get($screens, $size);

  @if $val {
    @media (min-width: $val) {
      @content;
    }
  }

  @else {
    @warn "No screen size `#{$size}` found in $screens map.";
  }
}

@mixin down($size) {
  $val: map.get($screens, $size);

  @if $val {
    $max: $val - 0.02px;

    @media (max-width: $max) {
      @content;
    }
  }

  @else {
    @warn "No screen size `#{$size}` found in $screens map.";
  }
}

:global {

  /* Reset / base styles */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html,
  body,
  #root {
    height: 100%;
  }

  body {
    margin: 0;
    font-family: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: var(--font-weight-base);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text-color);
    background: #fff
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: var(--font-weight-strong);
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  button,
  input,
  textarea,
  select {
    font: inherit;
  }

  .raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
}